@model IEnumerable<SportsStore.Shared.Entities.Product>

@{
    ViewBag.Title = "产品管理";
}


<div class="panel">
    <div class="panel-heading">
        <h3>全部产品</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">产品ID</th>
                <th>产品名称</th>
                <th class="text-right">价格</th>
                <th class="text-right">操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.ProductID</td>
                    <td>
                        @Html.ActionLink(item.Name, "Edit", new { item.ProductID })
                    </td>
                    <td class="text-right">@item.Price.ToString("c")</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Products"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("ProductID", item.ProductID)
                            <input type="submit" class="btn btn-default btn-xs" value="删除" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="text-center">
        @Html.ActionLink("新建", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>
